html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

@media only screen and (max-device-width: 768px) {
	#control-root {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	#control-root .control {
		position: absolute;
		bottom: 50px;
		height: 100px;
		width: 100px;
	}
	
	.control.left {
		left: 50px;
		transform: rotate(180deg);
	}
	
	.control.right {
		left: 200px;
	}
	
	.control.jump {
		right: 50px;
		transform: rotate(-90deg);
	}

	.control-large {
		width: 100px;
		height: 100px;
		position: absolute;
		bottom: 20px;
		right: 20px;
		background: red;
	}

	#root canvas {
		width: 100%;
		border: 0;
	}
}